div {
    margin: 0 auto;
    width: 50%;
    padding-top: 5rem;
}

table {
    width: 500px;
    height: 200px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}